.navbar-bg {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar-head {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: #4CAF50;
    margin: 0;
}